<section>
  <header>
    <app-nav></app-nav>
  </header>
</section>
<header class="header_client">
  <nav class="navbar navbar-expand-lg py-5">
    <div class="container">
      <span style="font-size: x-large;">Wizard Test</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav_main ms-auto  mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/area-of-working">Residential</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/area-of-working">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/area-of-working">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <app-body></app-body>
</div>
  <app-footer></app-footer>
